#header {
    /*main header style*/
    border-radius: 20px;
    background: rgb(133, 160, 161);
    padding: 20px;
    width: max;
    height: 10px;
  }
  
  #myName {
    /* this styles my name left of the header*/
    color: rgb(14, 1, 1);
    font-size: 30px;
  }
  
  #links {
    /* pushes nav links to right */
    float: right;
  }
  .borderLinks {
    /*styles nav links */
    border-style: double;
    color: rgb(47, 88, 107);
    font-weight: bold;
  }
  
  body {
    /* main body format*/
    height: max;
    width: max;
    background-color: rgb(47, 88, 107);
  }
  
  img {
    /*main pic formating layout*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 10px;
  }
  
  #bottomBor {
    /* line divider*/
    margin: auto;
    width: 90%;
    border-bottom: 3px solid black;
    padding: 10px;
  }
  
  #portfolio {
    /*styles main title on top of page*/
    width: max;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  section {
    /*sec. main format*/
    display: flex;
    justify-content: center;
  }
  .sectionItems {
    /*items in side the sec.*/
    flex-direction: column;
    justify-content: space-around;
    width: 750px;
    height: 800px;
    margin: 10px;
    border: 3px solid black;
    background-color: rgb(133, 160, 161);
    font-size: 18px;
    font-weight: bold;
    overflow: scroll;
  }
  
  footer {
    /*footer format*/
    display: flex;
    justify-content: space-around;
    width: max;
    height: 150;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-style: 3px double black;
    background-color: rgb(133, 160, 161);
  }
  
  .footerDivs {
    /*icon format in footer*/
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin: 8;
  }
  
  .padding-for-footerDivs {
    /* a little extra padding for rotten tomatoees icon */
    padding-top: 20px;
  }
  
  .border {
    /*simple blck border*/
    border: 3px solid black;
  }
  